* {
    background-color: #1d241e;
    color:white;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

button {
  background-color: rgb(255, 205, 205);
  color: #1d241e;
  border-radius: 5px;
  border: none;
  padding: 15px 30px;
  text-align: center;
  margin: 10px;
}

button:hover {
    background-color: rgb(255, 170, 170);
}

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.letter {
    color:white;
    max-width: fit-content;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}

.unused {
    color:white;
    background-color: #808384;
}

.used {
    color:#808384;
    background-color: #3a3a3c;
}

.correctLetter {
    color:white;
    background-color: #b49f3a;
}

.correctPlacement {
    color:white;
    background-color: #548d4e;
}

.positionNextTo {
  margin: 0;
  display:inline;
  float:left;
 }

 .lost {
    color: rgb(223, 143, 132);
 }

 .won {
    color: rgb(14, 175, 14);
 }